
body {
  font-family: 'Segoe UI', sans-serif;
}
#home .btn:hover{
    background-color: plum;
    box-shadow:0 8px 20px rgb(60, 60, 60);
}
#services .btn:hover{
    background-color: plum;
    transform: translateY(-8px);
}

#about .me {
     height: 300%;
    width: 200%;
    margin-top: 80px;}

 .service-card:hover{
    box-shadow:0 8px 10px rgb(214, 212, 212); 
     transform: translateY(-8px);
 }  
 #contact .btn:hover{
     background-color: plum;
    transform: translateY(5px);
 }
 #contact.grid{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
 }